<nav class="navbar-expand-md sticky-top">
  <div>
    <ul class="navlist">
      <li class="navitem"><a href="/" class="navlink">Home</a></li>
      <li class="navitem"><a href="" class="navlink">News</a></li>
      <li class="navitem">
        <a href="contact.html" class="navlink">Contact Us</a>
      </li>
      <li class="navitem">
        <a href="/listings/new" class="navlink">Add Brand</a>
      </li>
      <li class="navitem" style="float: right">
        <a href="" class="navlink">Login</a>
      </li>
      <li class="navitem" style="float: right">
        <a href="" class="navlink">Signup</a>
      </li>
    </ul>
  </div>
</nav>
